@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@theme {
  --breakpoint-des: 900px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint--mob-sm: 500px;
  --animate-shake: shake 1s infinite;
  @keyframes shake {
    100% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }
}

/* control inputs */
input:-webkit-autofill:focus {
  /* transition: background-color 600000s 0s, color 600000s 0s; */
}

input:-webkit-autofill {
  /* transition: background-color 600000s 0s, color 600000s 0s; */

  /* box-shadow: 0 0 0 1000px #1E1E1E inset ; */
  /* -webkit-text-fill-color: white; */
}

/* fonts  */
.font-g-s {
  font-family: var(--font-geist-sans), sans-serif;
}

.font-g-m {
  font-family: var(--font-geist-mono), monospace;
}

.font-p {
  font-family: var(--font-poppins), sans-serif;
}

.font-p-r {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400; /* وزن 400 */
}

.font-p-m {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500; /* وزن 500 */
}

.font-p-b {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 700; /* وزن 700 */
}

.font-n {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 200;
}
.font-n-m {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 400;
}

